.news__title {
    margin-bottom: 56px;
    @media (max-width: 1300px) {
        margin-bottom: 30px;
    }
    @media (max-width: 650px) {
        margin-bottom: 16px;
        font-size: 24px;
    }
}

.news {
    @media (max-width: 650px) {
        .swiper-buttons {
            display: none;
        }
    }
}

.news-slider {
    position: relative;
    @media (max-width: 700px) {
        .swiper-wrapper {
            display: flex;
            flex-direction: column;
            grid-gap: 32px;
            
        }
    }
}
.news-slider:not(.news-slider--opened) .swiper-wrapper .swiper-slide:nth-of-type(n+3) {
    @media (max-width: 700px) {
        display: none
    }
}

.news-slider .swiper-button-prev,
.news-slider .swiper-button-next {
    top: 30%;
}

.news-card__title {
    margin-top: 1em;
    font-size: 1.3rem;
    line-height: 1.4;
    font-family: "OpenSans";
    font-weight: 600;
    @media (max-width:800px) {
        font-size: 1.06rem;
    }
    @media (max-width:600px) {
        font-size: 16px;
        font-weight: 700;
    }
}

.news-card__pic {
    display: block;
    position: relative;
    padding-bottom: 68%;
}
.news-card__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__button-more {
  margin-top: 24px;
}